---
import { Image } from 'astro:assets';
import portrait from '../assets/portrait.png';
import Card from './Card.astro';
import IconText from './IconText.astro';
import IconWrapper from './IconWrapper.astro';
import data from '../data.yaml';
import Posts from '@/components/cv/Posts.astro';
import { getAllPosts } from '@/utils';
const allPosts = await getAllPosts();
---

<aside
	class="top-5 flex flex-col items-center justify-center pt-16 md:sticky md:col-span-1 md:h-screen md:pl-5"
>
	<Image
		src={portrait}
		alt="profile photo"
		class="z-10 h-48 w-auto rounded-3xl bg-accent-200 p-1"
		loading="lazy"
	/>

	<Card class="mt-[-6rem] w-full max-w-[500px] bg-background-tertiary p-5">
		<div class="flex flex-col items-center gap-y-4 pb-10 pt-24">
			<h1 class="text-3xl font-bold text-secondary-foreground">{data.name}</h1>
			<h2 class="text-m text-secondary-foreground">{data.positionone}</h2>
			<h2 class="text-m text-secondary-foreground">{data.positiontwo}</h2>
			<h2 class="text-m text-secondary-foreground">{data.positionthree}</h2>
			<div class="flex flex-row gap-x-4 pb-3 pt-1">
				<a href={data.github} target="_blank" aria-label="github"
					><IconWrapper
						href="https://github.com/quiachonj"
						icon="github"
						classIcon="h-5 w-5"
						class="bg-accent-200"
					/></a
				>
				<a href={data.linkedin} target="_blank" aria-label="linkedin"
					><IconWrapper
						href="https://linkedin.com/in/quiachonj"
						icon="linkedin"
						classIcon="h-5 w-5"
						class="bg-accent-200"
					/></a
				>
			</div>
			<Card class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground">
				<IconText title="Phone" subTitle={data.phone} icon="phone" />
				<div class="border-t border-border"></div>
				<IconText title="Email" subTitle={data.email} icon="mail" />
				<div class="border-t border-border"></div>
				<IconText title="Location" subTitle={data.location} icon="location" />
				<div class="border-t border-border"></div>
				<!-- <IconText title="Birthday" subTitle={data.birthday} icon="cake" /> -->
			</Card>
		</div>

		<a
			href="/cv-download.pdf"
			target="_blank"
			class="hover:shadow-background-tertiary/40 flex flex-row items-center justify-center gap-x-3 rounded-3xl bg-accent-200 px-4 py-2 text-sm transition-all hover:shadow-md dark:shadow-black/50 hover:dark:shadow-white/30"
		>
			<p class="text-lg font-bold">Download Resume</p>
		</a>
		{allPosts.length > 0 && <Posts posts={allPosts} />}
	</Card>
</aside>
