---
import Card from './Card.astro'
import IconWrapper from './IconWrapper.astro'

interface Props {
	class?: string
	title: string
	tools: {
		name: string
		description: string
		href: string
		iconPath: string
		iconBgColour: string
	}[]
}
const { title, tools } = Astro.props
---

<Card class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
>
	<h2 class='px-2 text-lg font-medium text-secondary-foreground'>{title}</h2>
	<div class='grid grid-cols-1 gap-x-2 gap-y-3 sm:grid-cols-2 sm:gap-y-4'>
		{
			tools.map((tool) => (
				<a
					class='group'
					href={tool.href}
					id={tool.name}
					target='_blank'
				>
				<div class='flex flex-row items-center gap-x-4 px-2 py-0.5 transition-all group-hover:bg-background-tertiary rounded-lg'>
						<IconWrapper icon={tool.iconPath} class="bg-background-tertiary h-10 w-10 transition-all group-hover:shadow-none "/>
						<div class='flex flex-col'>
							<h3 class='font-medium text-secondary-foreground'>{tool.name}</h3>
							<p class='text-muted-foreground'>{tool.description}</p>
						</div>
					</div>
				</a>
			))
		}
	</div>
</Card>
